user_uuid="866dfeac-5e14-4346-8195-f7478dc4f2cb"
bucket_name="gg8etci19gnger57oshloq655bn63hn5"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1